<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Novo post publicado</title>
    <style>
        .in-line {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    </style>
</head>
<body>
    <h3>Novo post de <b th:text="${authorName}">authorName</b>!</h3>
    <h2>Post: <b th:text="${postTitle}">postTitle</b> </h2>
    <span class="in-line">
        <b th:text="${publishedAtDate}">publishedAtDate</b>
        ●
        <b th:text="${publishedAtTime}">publishedAtTime</b>
    </span>
    <p>Confira na integra!</p>
</body>
</html>